.container {
  width: 50%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.img-home {
  width: auto;
  margin: 8px;
  border-radius: 16px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.div-home {
  background-color: bisque;
}

.Title-omelette {
  margin: 1em;
  text-align: center;
}

.text-omelette {
  margin: 2em;
}

.text-nutrition {
  margin: 1em;
}
.title-nutrition {
  color: rgb(85, 46, 4);
  margin: 2em;
}
.div-preparation {
  background-color: rgba(255, 192, 203, 0.707);
  margin: 1em;
  padding: 1em;
  border-radius: 16px;
}

.title-preparation {
  color: rgb(148, 23, 148);
  margin: 2em;
}

.title-ingredients {
  color: rgb(85, 46, 4);
  margin: 2em;
}

.li-ingredients {
  margin: 1em;
}

.title-instructions {
  color: rgb(85, 46, 4);
  margin: 2em;
}
.number-calories {
  margin: 1em;
  color: rgb(85, 46, 4);
  font-size: 32px;
  font-weight: bold;
}

.table-nutrition {
  width: 50%;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.tr-table {
  display: flex;
  margin: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tr-calories {
  display: flex;
  margin: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
