h1 {
  text-align: center;
  justify-content: center;
  font-size: 40px;
  color: #4caf50;
}

img {
  width: 500px;
  height: 500px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(150, 124, 175);
  padding: 1em;
  border-radius: 1em;
  filter: drop-shadow(10px 10px 10px black);
}
.product {
  background-color: rgb(180, 151, 207);
  margin: 1em;
  padding: 1em;
}
p {
  font-size: 20px;
  background-color: #4caf50;
  color: white;
  width: 10em;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  margin-bottom: 1em;
}
button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
}
